h5py>=3.8.0
joblib>=1.2.0
numpy>=1.24.2
omegaconf>=2.3.0
pandas>=2.0.0
pygco>=0.0.16
pytorch_lightning>=2.0.1
scikit_learn>=1.2.2
scipy>=1.10.1
timm>=0.6.13
torch>=2.0.0
tqdm>=4.65.0
trimesh>=3.21.3
vedo>=2023.4.4
visdom>=0.2.4
vtk>=9.2.6
